{
    "extends": "./src/Utilities/Lombiq.NodeJs.Extensions/Lombiq.NodeJs.Extensions/config/.eslintrc.lombiq-base.js",

    "rules": {
        // Add overriding rules here like this:
        // "example-rule" : "error"
        "max-len": [
            "warn",
            // 150 characters is the default.
            120
        ]
    }
}
