[submodule "src/Modules/Lombiq.TrainingDemo"]
	path = src/Modules/Lombiq.TrainingDemo
	url = https://github.com/Lombiq/Orchard-Training-Demo-Module.git
	branch = orchard-core
[submodule "src/Modules/Lombiq.VueJs"]
	path = src/Modules/Lombiq.VueJs
	url = https://github.com/Lombiq/Orchard-Vue.js.git
	branch = dev
[submodule "src/Utilities/Lombiq.Npm.Targets"]
	path = src/Utilities/Lombiq.Npm.Targets
	url = https://github.com/Lombiq/NPM-Targets.git
	branch = dev
[submodule "src/Modules/Lombiq.HelpfulExtensions"]
	path = src/Modules/Lombiq.HelpfulExtensions
	url = https://github.com/Lombiq/Helpful-Extensions.git
	branch = orchard-core-preview
[submodule "src/Libraries/Lombiq.HelpfulLibraries"]
	path = src/Libraries/Lombiq.HelpfulLibraries
	url = https://github.com/Lombiq/Helpful-Libraries.git
	branch = orchard-core-preview
[submodule "src/Utilities/Lombiq.SetupExtensions"]
	path = src/Utilities/Lombiq.SetupExtensions
	url = https://github.com/Lombiq/Setup-Extensions.git
	branch = dev
[submodule "tools/Lombiq.Analyzers"]
	path = tools/Lombiq.Analyzers
	url = https://github.com/Lombiq/.NET-Analyzers.git
	branch = dev
[submodule "src/Modules/Lombiq.Hosting.Azure.ApplicationInsights"]
	path = src/Modules/Lombiq.Hosting.Azure.ApplicationInsights
	url = https://github.com/Lombiq/Orchard-Azure-Application-Insights.git
	branch = dev
[submodule "src/Modules/Lombiq.ChartJs"]
	path = src/Modules/Lombiq.ChartJs
	url = https://github.com/Lombiq/Orchard-Chart.js.git
	branch = dev
[submodule "src/Modules/Lombiq.UIKit"]
	path = src/Modules/Lombiq.UIKit
	url = https://github.com/Lombiq/Orchard-UIKit.git
	branch = dev
[submodule "src/Modules/Lombiq.JsonEditor"]
	path = src/Modules/Lombiq.JsonEditor
	url = https://github.com/Lombiq/Orchard-JSON-Editor.git
	branch = dev
[submodule "src/Modules/Lombiq.AuditTrailExtensions"]
	path = src/Modules/Lombiq.AuditTrailExtensions
	url = https://github.com/Lombiq/Audit-Trail-Extensions.git
	branch = dev
[submodule "test/Lombiq.UITestingToolbox"]
	path = test/Lombiq.UITestingToolbox
	url = https://github.com/Lombiq/UI-Testing-Toolbox.git
	branch = dev
[submodule "test/Lombiq.Tests"]
	path = test/Lombiq.Tests
	url = https://github.com/Lombiq/Testing-Toolbox.git
	branch = dev
[submodule "src/Modules/Lombiq.Hosting.Tenants"]
	path = src/Modules/Lombiq.Hosting.Tenants
	url = https://github.com/Lombiq/Hosting-Tenants.git
	branch = dev
[submodule "src/Modules/Lombiq.Privacy"]
	path = src/Modules/Lombiq.Privacy
	url = https://github.com/Lombiq/Orchard-Privacy.git
	branch = dev
[submodule "src/Utilities/Lombiq.NodeJs.Extensions"]
	path = src/Utilities/Lombiq.NodeJs.Extensions
	url = https://github.com/Lombiq/NodeJs-Extensions.git
	branch = issue/OSOE-69
[submodule "src/Modules/Lombiq.DataTables"]
	path = src/Modules/Lombiq.DataTables
	url = https://github.com/Lombiq/Orchard-Data-Tables.git
	branch = dev
[submodule "src/Themes/Lombiq.BaseTheme"]
	path = src/Themes/Lombiq.BaseTheme
	url = https://github.com/Lombiq/Orchard-Base-Theme.git
	branch = dev
[submodule "tools/Lombiq.GitHub.Actions"]
	path = tools/Lombiq.GitHub.Actions
	url = https://github.com/Lombiq/GitHub-Actions.git
	branch = dev
[submodule "tools/Lombiq.Analyzers.PowerShell"]
	path = tools/Lombiq.Analyzers.PowerShell
	url = https://github.com/Lombiq/PowerShell-Analyzers.git
[submodule "src/Themes/Lombiq.Hosting.MediaTheme"]
	path = src/Themes/Lombiq.Hosting.MediaTheme
	url = https://github.com/Lombiq/Hosting-Media-Theme
	branch = dev
[submodule "src/Libraries/Lombiq.OrchardCoreApiClient"]
	path = src/Libraries/Lombiq.OrchardCoreApiClient
	url = https://github.com/Lombiq/Orchard-Core-API-Client.git
	branch = issue/NEST-295
[submodule "src/Modules/Lombiq.Hosting.BuildVersionDisplay"]
	path = src/Modules/Lombiq.Hosting.BuildVersionDisplay
	url = https://github.com/Lombiq/Hosting-Build-Version-Display.git
	branch = dev
[submodule "src/Modules/Lombiq.ContentEditors"]
	path = src/Modules/Lombiq.ContentEditors
	url = https://github.com/Lombiq/Orchard-Content-Editors.git
[submodule "src/Modules/Lombiq.LoginAsAnybody"]
	path = src/Modules/Lombiq.LoginAsAnybody
	url = https://github.com/Lombiq/Orchard-Login-as-Anybody
	branch = dev
[submodule "src/Modules/Lombiq.Walkthroughs"]
	path = src/Modules/Lombiq.Walkthroughs
	url = https://github.com/Lombiq/Orchard-Walkthroughs
	branch = dev
