<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Orchard Core Lombiq Debug" value="https://ci.lombiq.com/httpAuth/app/nuget/feed/OrchardCore_LombiqFork/Debug/v3/index.json" />
        <add key="Orchard Core Lombiq Release" value="https://ci.lombiq.com/httpAuth/app/nuget/feed/OrchardCore_LombiqFork/Release/v3/index.json" />
    </packageSources>
</configuration>