<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ignore global configuration -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
    <add key="SeleniumNightly" value="https://nuget.pkg.github.com/SeleniumHQ/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <!-- OrchardCore.Translations.All is on a separate repo and doesn't have a preview -->
      <package pattern="OrchardCore.Translations.*" />
    </packageSource>
    <packageSource key="SeleniumNightly">
      <package pattern="Selenium.WebDriver" />
    </packageSource>
  </packageSourceMapping>
  <auditSources>
    <!-- This is to prevent such errors during NuGet restore for Cloudsmith: "Error occurred while getting package
    vulnerability data: Unable to load the service index for source
    https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json." -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
