<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ignore global configuration -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" /> -->
  </packageSources>
  <!-- Uncomment this if multiple sources are used. Add source mapping entries to specify what each source is for.
       Note: OrchardCore.Translations.All is always on nuget.org, because it's on a separate repo with no preview.
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="OrchardCore.Translations.*" />
    </packageSource>
  </packageSourceMapping> -->
  <auditSources>
    <!-- This is to prevent such errors during NuGet restore for Cloudsmith: "Error occurred while getting package
    vulnerability data: Unable to load the service index for source
    https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json." -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
