name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  build-and-test-larger-runners:
    if: github.ref_name != github.event.repository.default_branch
    name: Build and Test - root solution (larger runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-501
    with:
      machine-types: "['ubuntu-22.04-4core', 'windows-2022-8core']"
      timeout-minutes: 30
      set-up-sql-server: "true"
      set-up-azurite: "true"
      ui-test-parallelism: 0

  build-and-test-standard-runners:
    # Since dev builds are not awaited by anyone, they can run on the slower free runners.
    if: github.ref_name == github.event.repository.default_branch
    name: Build and Test - root solution (standard runners)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-501
    with:
      machine-types: "['ubuntu-22.04', 'windows-2022']"
      timeout-minutes: 60
      set-up-sql-server: "true"
      set-up-azurite: "true"

  build-and-test-nuget-test:
    name: Build and Test - NuGetTest solution
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-501
    with:
      machine-types: "['ubuntu-22.04', 'windows-2022']"
      build-directory: NuGetTest
      timeout-minutes: 20

  spelling:
    name: Spelling
    uses: Lombiq/GitHub-Actions/.github/workflows/spelling.yml@issue/OSOE-501
    with:
      # While this is the same as the default usually, it's here to allow you to easily change the branch specifier to
      # an issue branch if you adjust the dictionaries.
      spell-check-this: Lombiq/GitHub-Actions@issue/OSOE-501

  post-pull-request-checks-automation:
    name: Post Pull Request Checks Automation
    needs: [build-and-test-larger-runners, build-and-test-nuget-test, spelling]
    if: github.event.pull_request != ''
    uses: Lombiq/GitHub-Actions/.github/workflows/post-pull-request-checks-automation.yml@issue/OSOE-501
    secrets:
      JIRA_BASE_URL: ${{ secrets.DEFAULT_JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.DEFAULT_JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.DEFAULT_JIRA_API_TOKEN }}
      MERGE_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
