name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  call-build-and-test-workflow:
    name: Build and Test - root solution
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-125
    with:
      machine-types: "[\"windows-latest\"]"
      timeout-minutes: 60
      verbosity: normal

  call-build-and-test-workflow-nuget-test:
    name: Build and Test - NuGetTest solution
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-125
    with:
      machine-types: "[\"windows-latest\"]"
      build-directory: NuGetTest
      timeout-minutes: 30
      verbosity: normal
