name: Build and Test

# Runs for PRs opened for any branch, and pushes to the dev branch.
on:
  pull_request:
  push:
    branches:
      - dev

jobs:
  spelling:
    name: Spelling
    uses: Lombiq/GitHub-Actions/.github/workflows/spelling.yml@dev
    with:
      additional-dictionaries: |
        cspell:csharp/csharp.txt
        cspell:css/css.txt
        cspell:fullstack/fullstack.txt
        cspell:html/html.txt
        cspell:node/node.txt
        cspell:npm/npm.txt
        lombiq-lgha:dictionaries/Liquid.txt
        lombiq-lgha:dictionaries/Xml.txt
        lombiq-lgha:dictionaries/Lombiq.people.txt

  powershell-static-code-analysis:
    name: PowerShell Static Code Analysis
    uses: Lombiq/PowerShell-Analyzers/.github/workflows/static-code-analysis.yml@dev
    with:
      machine-types: "['ubuntu-22.04']"

  post-pull-request-checks-automation:
    name: Post Pull Request Checks Automation
    # needs: [build-and-test-larger-runners, build-and-test-nuget-test, spelling, powershell-static-code-analysis]
    if: github.event.pull_request != ''
    uses: Lombiq/GitHub-Actions/.github/workflows/post-pull-request-checks-automation.yml@issue/OSOE-655
    secrets:
      JIRA_BASE_URL: ${{ secrets.DEFAULT_JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.DEFAULT_JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.DEFAULT_JIRA_API_TOKEN }}
      MERGE_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}

  add-windows-build-warning-label:
    name: Add Windows Build Warning Label
    runs-on: ubuntu-22.04
    timeout-minutes: 2
    needs: [build-and-test-larger-runners, build-and-test-nuget-test, powershell-static-code-analysis]
    steps:
    - name: Add Windows Build Warning Label
      # v2.0.0
      uses: buildsville/add-remove-label@eeae411a9be2e173f2420e1644514edbecc4e835
      with:
        # The token is necessary to be able to add the label even if the workflow is triggered by a pull request coming
        # from a fork.
        token: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
        labels: requires-windows-build
        type: add
